.todoitem {
  border: 1px solid #8d99ae;
  border-radius: 10px;
  background-color: #edf2f4;
}
.textcontainer{
    width: 100%;
}
.btncontainer {
  display: flex;
  column-gap: 5px;
}
.todocontainer {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.todoitem:hover {
  background-color: #d8e2dc;
}

.todoitem button {
  border: none;
  font-size: 1.3em;
  background-color: inherit;
}
.todoitem button:hover {
  cursor: pointer;
}
.deleteBtn:hover {
  color: #e63946;
}
@media (width>=1024px) {
  .textcontainer {
    min-width: 80%;
  }
}
@media (width>=1440px) {
  .textcontainer {
    min-width: 88%;
  }
}
@media (width>=375px) {
  .todoitem {
    padding: calc(var(--basic-padding) + 5px);
  }
  .textcontainer{
    width: auto;
  }
}
