.textarea{
    border-radius: 10px;
    font-size: 1em;
    padding: var(--basic-padding);
    border: 0px;
    font-family: "Roboto Mono", monospace;
    background-color: #EDF2F4;
    resize: none;
    text-decoration: inherit;
    min-width: 100%;
}
.textarea:focus{
    outline: none;
}

@media (1440px>= width>=1024px) and (width){
    .textarea{
        font-size: 0.9em;
    }
}